body{
    display: flex;
    margin: 0;
    padding-top: 36px; 
    background-color: #ffffff;
    
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* Estilos responsivos según pantalla */

/* MOBIL */
@media (min-width: 320px) {
    summary{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        font-size: 18.5px;
        color: rgb(0, 0, 0);
        list-style: none;
        cursor: pointer;
    }

    summary::after{
        content: "⌵";
        font-size: 22px;
        font-weight: 900;
    }

    details[open] summary::after{
        transform: rotate(180deg);
    }

    .foot-desplegable a {
        margin: 11px;
    } 

    .logo{
        margin-left: -25px;
        min-width: 138px;
        max-width: 160px;
        position: static;
    }

}


/* DESKTOP */
@media (min-width: 1024px) {
    summary{
        font-size: 22px;
        font-weight: 500;
        color: rgb(0, 0, 0);
        pointer-events: none;
    }

    summary::after{
        display: none;
    }

    .logo{
        padding-left: auto;
        width: 168px;
        height: auto;
        margin-left: 60px;
        position: static;
    }

    .footer-section{
        display: flex;
        justify-content: flex-start;
        gap: 20;
        border-left: 50px;
        padding-left: 70px;
    }

    .foot-desplegable{
        flex: -20 1 20px;
    }

}





/* HEADER */

.header{
    display: flex;
    background-color: #ffffff;
    z-index: 1000;
    width: 100%;
    height: 88px;
    margin-top: -35px;
    box-sizing: border-box;

    /* efecto de borde difuso para el encabezado */
    backdrop-filter: blur(25px); 
    border-bottom: 1px solid #78716457;
    box-shadow: 0px 1px 7px rgba(68, 65, 60, 0.245);
    position: -webkit-sticky; 
    align-items: center;
    padding: 0 40;
}

.logo{
    width: 168px;
    height: auto;
    justify-content: flex-start;
}

.navbar{
    /* MENU y REWARDS */
    position: static;
    flex-direction: row;
    letter-spacing: 3px; 
    word-spacing: 34px;
}

.navbar a{
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-family: 'Trispace', sans-serif;
}

#rewards:hover{
    cursor: pointer;
    color: #028058;
    border-bottom: 5px solid #028058;
    padding-bottom: 28px;
}

#menu:hover{
    cursor: pointer;
    color: #028058;
    border-bottom: 5px solid #028058;
    padding-bottom: 28px;
}

/* Localizar tienda */
.localizar{
    position: static;
    margin-left: auto;
    margin-right: 50px;
}

.localizar a{
    display: flex;
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    flex-direction: row-reverse;
}

header .buttons{
    margin:0;
    margin-right: 125px;
}

.ubi{
    width: 23px;
    height: 23px;
}

/* Botones */
.buttons{
    position: static;
    display: flex;
    gap: 13px;
    margin-left: auto;
    margin-right: 125px;
}

.ingresar{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open sans', sans-serif;
    padding: 5px 14px;

    /* forma */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    border-color: #000000;
}

.ingresar:hover{
    cursor: pointer;
}

.unete{
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open sans', sans-serif;
    padding: 5px 14px;

    /* forma */
    border: 1px solid black;
    border-radius: 20px;
    border-color: #000000;
}

.unete:hover{
    cursor: pointer;
}


/* MAIN CONTENT */















/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
    z-index: 1000;
    width: 100%;
    height: 600px;
    margin-top: 0;
    box-sizing: border-box;

    /* efecto de borde difuso*/
    backdrop-filter: blur(25px); 
    border-top: 1px solid #78716457;
    box-shadow: 0px 1px 7px rgba(68, 65, 60, 0.245);
    position: -webkit-sticky; 
    padding: 20px 40px; 
}

.footer a{
    display: flex;
    text-decoration: none;
}

.footer-section {
    order:1;
}

.footer-section a{
    color: #646464db;
    font-size: 18px;
    font-weight: 500;  
    display: block;
    padding: 5px 0;
}

.nosotros a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
 
.cliente a:hover{
    cursor: pointer;
    color: black;
}

/* redes y derechos */
.final{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    order: 2;

    border-top: 1px solid #f0f0f0fb;
    padding-top: 15px;
    margin-top: 20px;
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 45px;
    gap: 27px;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease;
}

.redes img{
    width: 33px;
    height: 33px;
    object-fit: contain;
}

.redes a:hover {
    transform: scale(1.2);
}

.footer-1{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 11px;
}

.footer-1 a{
    color: #afafaf;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 9px;
}

.preferencias{
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.preferencias a{
    color: #afafaf;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 18px;
} 

.footer-1 a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.479);
}

.preferencias a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.479);
}

.derechos{
    display: flex;
    text-align: center;
    color: #afafaf;
    flex-direction: column;   
}

.derechos h1{
    font-weight: lighter;
    font-size: 14.5px;
    margin-bottom: -6px;
}

.derechos h2{
    font-weight: lighter;
    font-size: 10.5px;
}