*{background-color: #ffffff;}

body{color: #000000; font-family: Arial, italic, sans-serif;}


header{text-align: center; font-size: 130%; margin:0px;}
h1{background-color: #5d68aae8;color: #ffffff; font-style:italic; font-size: 95px; margin-top: 0px;}


nav{text-align:center;color: #ffffff;padding: 0px}

nav a{color: rgb(255, 255, 255); font-weight:bold; text-decoration:none; background-color: rgb(50, 84, 153); border-radius: 5px}
nav a:hover{background-color: #db5e29f7; color: rgb(255, 255, 255)}

section {font-size: 20px; margin: 30px; padding: 20px; color:  #4d435f; background-color: #565a72;}


img {max-width: 100%; display: block; margin: 20px auto;}
footer{position: fixed; text-align:center; color: #2d3677; text-align:right; margin-top: 30px; font-size: 14px;}